{% load static tables_pro %}
<div id="block_content">


{% if not table.responsive %}
  <div id="block_table">
  {% include "tables_pro/block_table.html" %}
  </div>
  <div id="modals-here"></div>
{% endif %}
<div id="media_query" table="{{ table }}"></div>

{% if table.responsive %}
<script>
  window.addEventListener('load', function (){
    console.log("responsive")
    {% media_query table %}
  })
</script>
{% else %}
  <script>
  window.addEventListener('load', function (){
    console.log("not responsive")
    tablesPro.init()
  })
  </script>

{% endif %}
{#<script>#}
{#  window.addEventListener('load', function (){#}
{#    console.log("load")#}
{#    {% media_query table %}#}
{#    tablesPro.init()#}
{#  })#}
{#</script>#}



