{% if view.filterset_class and view.filter_style == 1 %}
  <div class="{{ css_toolbar }}">
    {% include "tables_pro/filter_toolbar.html" %}
  </div>
{% endif %}
<form hx-post="" hx-target="#modals-here">
  {% csrf_token %}
  {% if actions or buttons or columns or view.filterset_class and view.filter_modal %}
    <div class="{{ css_toolbar }}">
      {% include "tables_pro/toolbar/main.html" %}
    </div>
  {% endif %}
  <div id="table_data" class="{{ css_table }}">
    <div class="container">
    {% include "tables_pro/render_table_data.html" %}
    </div>
  </div>
</form>
<div id="modals-here"></div>
