Error
<script type="module">
  import {computePosition, autoUpdate} from 'https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.4.4/+esm';

  const field = document.querySelector("#{{ target }}")
  const tooltip = document.querySelector("#tooltip")
  //autoUpdate(field, tooltip, () => {
  computePosition(field, tooltip,
    {
      placement: "left-end",
    })
    .then(({x, y}) => {
      Object.assign(tooltip.style, {
        left: `${x}px`,
        top: `${y}px`,
        display: 'block',
      });
    });

  //});
  function hideTooltip() {
    tooltip.style.display = "";
  }

  tooltip.addEventListener("click", hideTooltip)
</script>