{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
{% block head %}
{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% block navbar %}
{% endblock %}
{% block content %}
{% endblock %}
{% django_htmx_script %}
  <script src="{% static "htmx1.9.1.min.js" %}"></script>
  <script src="{% static "django_tableaux/js/django_tableaux.js" %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>