{% extends "movies/base.html" %}
{% load bootstrap4 static %}
{% block head %}
  {% include "tables_pro/block_head.html" %}
  <style>
      #tooltip {
          display: none;
          width: max-content;
          position: absolute;
          top: 0;
          left: 0;
          background: pink;
          color: red;
          font-weight: normal;
          padding: 5px;
          border-radius: 4px;
          font-size: 90%;
      }
      #arrow {
          position: absolute;
      }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h3 class="text-center">{{ view.title }}</h3>
    <div id="messages">
      {% bootstrap_messages %}
    </div>
    {% include "tables_pro/block_content.html" %}
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static "htmx1.9.1.min.js" %}"></script>
  <script type="module" src="{% static "tables_pro/js/tables_pro.js" %}"></script>
{% endblock %}