{% extends "movies/base.html" %}
{% load bootstrap4 static %}
{% block head %}
{% include templates.block_head %}
{% endblock %}
{% block navbar %}
{% include "movies/navbar_bootstrap.html" %}
{% endblock %}
{% block content %}
  <div class="container">
    <h3 class="text-center">{{ view.title }}</h3>
{#    <div id="messages">#}
{#    {% bootstrap_messages %}#}
{#    </div>#}
    {% include templates.block_content %}
  </div>
{% endblock %}
{% block scripts %}
{% include templates.block_scripts %}
{% endblock %}