body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* Navbar container */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #333;
    padding: 0.5rem 1rem;
    color: white;
}

.navigation-bar .brand {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px;
}

.demo .dropdown {
    position: relative;
    display: inline-block;
}

.demo .dropdown select {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.demo .dropdown select:hover {
    background-color: #555;
}

/* Make sure the page looks clean */
main {
    padding: 2rem;
}

.demo .messages-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.demo .alert {
    position: relative;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo .alert-message {
    flex-grow: 1;
}

/* Dismiss button */
.demo .alert-dismiss {
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
}

/* Colors for different levels */
.demo .alert-debug {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    color: #41464b;
}

.demo .alert-info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

.demo .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.demo. alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.demo .alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.container {
  width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
